.App {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.UsedLetters {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
}


.Grid {
  width: 24rem;
  height: 24rem;
  table-layout: fixed;
}

.Cell {
  background-color: #a0a0a0;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  overflow: hidden;
}

.Cell-correct {
  background-color: green;
}

.Cell-wrong {
  background-color: grey;
}

.Cell-wrong-pos {
  background-color: yellow;
}

.Letter-red {
  background-color:red;
}