@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: MontSerrat;
  color: white;

  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
  touch-action: none; 
}